@model ApplicationUser

@{
    ViewData["Title"] = "Access Denied";
}

<h1 style="text-align:center; font-size:15em; color:blue;">403</h1>
<h1 style="text-align:center; font-size:10em; color:blue;">Forbidden</h1>
<p style="text-align:center; font-size:2em; color:red;"><span style="font-weight:1000;">@Model.UserName</span>, you are not authorized to access this page.</p>