@model App.UI.CRUDModels.ExpenseCategory.ExpenseCategoryCRUDModel
@{
    ViewData["Title"] = "Delete Category";
}

<h1 class="display-1 text-center">Delete Expense Category</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="ExpenseCategory" asp-action="Delete" method="post">
    <div class="form-group mb-3">
        <label asp-for="ExpenseCategoryName">Name</label>
        <input asp-for="ExpenseCategoryName" class="form-control" disabled/>
        <span asp-validation-for="ExpenseCategoryName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-dark" asp-controller="ExpenseCategory" asp-action="Index">Back to List</a>
</form>