@{
    ViewData["Title"] = "Admin";
}

<h1 class="display-1 text-center">Admin Panel</h1>
<div class="container row">
    <div class="col-4">
        <a class="btn btn-success" asp-controller="Role" asp-action="Index">Roles</a>
    </div>
</div>